<launch>
    <!-- Common Interface -->
    <arg name="device" default="25001964"/>
    <arg name="rate" default="60"/>

    <!-- Camera Settings -->
    <arg name="serial" default="$(arg device)"/>
    <arg name="camera_name" default="mv_$(arg serial)"/>
    <arg name="camera" default="$(arg camera_name)"/>
    <arg name="frame_id" default="$(arg camera)"/>
    <arg name="calib_url" default="file://${ROS_HOME}/camera_info/$(arg camera_name).yaml"/>
    <arg name="fps" default="$(arg rate)"/>
    <arg name="color" default="false"/>
    <arg name="aec" default="0"/>
    <arg name="cbm" default="false"/>
    <arg name="ctm" default="1"/>
    <arg name="dcfm" default="0"/>
    <arg name="hdr" default="false"/>
    <arg name="wbp" default="-1"/>
    <arg name="expose_us" default="10000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="boost" default="false"/>
    <arg name="mm" default="0"/>

    <!-- Node Settings -->
    <arg name="plugin" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="proc" default="false"/>
    <arg name="view" default="false"/>
    <arg name="calib" default="false"/>

    <!-- Standalone -->
    <arg unless="$(arg plugin)"
        name="option" value="standalone bluefox2/SingleNodelet"/>

    <!-- Manager -->
    <arg if="$(arg plugin)"
        name="manager" default="single_nodelet"/>
    <arg if="$(arg plugin)"
        name="option" value="load bluefox2/SingleNodelet $(arg manager)"/>
    <node if="$(arg plugin)"
        pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="$(arg output)">
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera)"
        args="$(arg option)" output="$(arg output)">
        <param name="identifier" type="string" value="$(arg serial)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="camera_name" type="string" value="$(arg camera_name)"/>
        <param name="calib_url" type="string" value="$(arg calib_url)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
        <param name="mm" type="int" value="$(arg mm)"/>
    </node>

    <!--Proc-->
    <arg if="$(arg plugin)"
        name="proc_option" value="load image_proc/rectify $(arg manager)"/>
    <arg unless="$(arg plugin)"
        name="proc_option" value="standalone image_proc/rectify"/>
    <node if="$(arg proc)"
        pkg="nodelet" type="nodelet" name="rectify_mono" ns="$(arg camera)"
        args="$(arg proc_option)">
        <remap from="image_mono" to="image_raw"/>
        <remap from="image_rect" to="image_rect_mono"/>
    </node>

    <!-- View -->
    <arg name="image" default="image_raw"/>
    <node if="$(arg view)"
        pkg="image_view" type="image_view" name="viewer"
        output="$(arg output)" ns="$(arg camera)" args="image:=$(arg image)">
    </node>

  <!-- 
       Start an apriltag node using the default settings
       to connect to an OpenNI device (e.g. Kinect). 
  -->
  <node pkg="apriltags" type="apriltags" name="apriltags" output="screen">
    <param name="~default_tag_size" value="0.174" />

    <param name="~viewer" value="false" />
    <param name="~publish_detections_image" value="false" />

    <param name="~display_type" value="CUBE" />
    <param name="~marker_thickness" value="0.02" />

    <rosparam command="delete" param="tag_data" />
    <rosparam param="tag_data">
      "1": 
        size: 0.035
      "2":
        size: 0.048
    </rosparam>

    <remap from="~image" to="/mv_25001964/image_raw"/>
    <remap from="~camera_info" to="/mv_25001964/camera_info"/>
    <remap from="~marker_array" to="/apriltags/marker_array"/>
    <remap from="~detections" to="/apriltags/detections"/>
  </node>

  <node pkg="teraranger_tower" name="teraranger_tower_node" type="teraranger_tower_node">
  </node>

	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="/dev/ttyUSB0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		
		<param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="5.0" />

		<param name="startup_px4_usb_quirk" value="true" />

		<param name="setpoint_position/tf/listen" value="True" />
		<param name="mocap/use_tf" value="false"/>
		<param name="mocap/use_pose" value="true"/>
	</include>


</launch>
